<a href="https://colab.research.google.com/github/HuynhTanNam-19146217/TayMay3Bac-ANN/blob/Taymay3bac/Taymay3bac.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
from numpy import cos
from numpy import sin
from math import radians
import math as mt
import pandas as pd
from sklearn.model_selection import train_test_split
from keras.utils.np_utils import to_categorical
from keras.models import Sequential
from sklearn.preprocessing import StandardScaler
from keras.layers import Dense, Activation, Dropout, Input
from tensorflow.keras.optimizers import RMSprop
from keras.callbacks import EarlyStopping
from tensorflow.keras.optimizers import Adam

In [ ]:
l1 = 50
l2 = 40
l3 = 20
Px=[]
Py=[]
phi=[]
tt1=[]
tt2=[]
tt3=[]
for i in range(-90,120,1):
  for j in range(-90,120,1):
    for k in range(-90,120,1):
      Px.append(l1*cos(radians(i))+l2*cos(radians(i+j))+radians(k)*cos(radians(i+j+k)))
      Py.append(l1*sin(radians(i))+l2*sin(radians(i+j))+l3*sin(radians(i+j+k)))
      phi.append(radians(i+j+k))
      tt1.append(radians(i))
      tt2.append(radians(j))
      tt3.append(radians(k))

In [ ]:
data = pd.DataFrame()
data["Px"]=Px
data["Py"]=Py
data["phi"]=phi
data["tt1"]=tt1
data["tt2"]=tt2
data["tt3"]=tt3
data

                Px         Py       phi       tt1       tt2       tt3
0       -40.000000 -30.000000 -4.712389 -1.570796 -1.570796 -1.570796
1       -39.972890 -30.003046 -4.694936 -1.570796 -1.570796 -1.553343
2       -39.946398 -30.012183 -4.677482 -1.570796 -1.570796 -1.535890
3       -39.920531 -30.027409 -4.660029 -1.570796 -1.570796 -1.518436
4       -39.895297 -30.048719 -4.642576 -1.570796 -1.570796 -1.500983
...            ...        ...       ...       ...       ...       ...
9260995 -43.445084   7.371675  6.161012  2.076942  2.076942  2.007129
9260996 -43.423761   7.718492  6.178466  2.076942  2.076942  2.024582
9260997 -43.402987   8.065947  6.195919  2.076942  2.076942  2.042035
9260998 -43.382780   8.413932  6.213372  2.076942  2.076942  2.059489
9260999 -43.363156   8.762342  6.230825  2.076942  2.076942  2.076942

[9261000 rows x 6 columns]

In [ ]:
x = data.drop(['tt1','tt2','tt3'],axis=1)
x

                Px         Py       phi
0       -40.000000 -30.000000 -4.712389
1       -39.972890 -30.003046 -4.694936
2       -39.946398 -30.012183 -4.677482
3       -39.920531 -30.027409 -4.660029
4       -39.895297 -30.048719 -4.642576
...            ...        ...       ...
9260995 -43.445084   7.371675  6.161012
9260996 -43.423761   7.718492  6.178466
9260997 -43.402987   8.065947  6.195919
9260998 -43.382780   8.413932  6.213372
9260999 -43.363156   8.762342  6.230825

[9261000 rows x 3 columns]

In [ ]:
y = data.drop(['Px','Py','phi'],axis=1)
y

              tt1       tt2       tt3
0       -1.570796 -1.570796 -1.570796
1       -1.570796 -1.570796 -1.553343
2       -1.570796 -1.570796 -1.535890
3       -1.570796 -1.570796 -1.518436
4       -1.570796 -1.570796 -1.500983
...           ...       ...       ...
9260995  2.076942  2.076942  2.007129
9260996  2.076942  2.076942  2.024582
9260997  2.076942  2.076942  2.042035
9260998  2.076942  2.076942  2.059489
9260999  2.076942  2.076942  2.076942

[9261000 rows x 3 columns]

In [ ]:
col_names = list(x.columns)
scaler=StandardScaler()
X_df = scaler.fit_transform(x)
X_df = pd.DataFrame(X_df, columns=col_names)
X_df.describe().T

,count,mean,std,min,25%,50%,75%,max
Px,9261000.0,4.008622e-14,1.0,-2.509927,-0.700188,2.485943e-01,0.816810,1.393034
Py,9261000.0,5.134273e-14,1.0,-1.963326,-0.892293,2.021252e-01,0.875316,1.519932
phi,9261000.0,1.272619e-15,1.0,-2.985748,-0.709532,9.107298e-17,0.709532,2.985748

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(X_df,y,test_size=0.2 , random_state=7)

In [ ]:
model = Sequential()
model.add(Dense(512,activation='relu',input_shape=(3,)))
model.add(Dense(256,activation='relu'))
model.add(Dense(256,activation='relu'))
model.add(Dense(256,activation='relu'))
model.add(Dense(3,activation='softmax'))
model.summary()
model.compile(loss='mse',optimizer=RMSprop(),metrics=['accuracy'])

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 512)               2048

 dense_1 (Dense)             (None, 256)               131328

 dense_2 (Dense)             (None, 256)               65792

 dense_3 (Dense)             (None, 256)               65792

 dense_4 (Dense)             (None, 3)                 771

=================================================================
Total params: 265,731
Trainable params: 265,731
Non-trainable params: 0
_________________________________________________________________

In [ ]:
history = model.fit(x_train,y_train,batch_size = 512,epochs=10,verbose=1,callbacks=[EarlyStopping(monitor='val_loss',patience=50)],validation_data = (x_test, y_test))

Epoch 1/10
14471/14471 [==============================] - 362s 25ms/step - loss: 0.7748 - accuracy: 0.8241 - val_loss: 0.7714 - val_accuracy: 0.8366
Epoch 2/10
14471/14471 [==============================] - 360s 25ms/step - loss: 0.7711 - accuracy: 0.8351 - val_loss: 0.7707 - val_accuracy: 0.8396
Epoch 3/10
14471/14471 [==============================] - 356s 25ms/step - loss: 0.7707 - accuracy: 0.8365 - val_loss: 0.7708 - val_accuracy: 0.8381
Epoch 4/10
14471/14471 [==============================] - 360s 25ms/step - loss: 0.7705 - accuracy: 0.8372 - val_loss: 0.7729 - val_accuracy: 0.8330
Epoch 5/10
14471/14471 [==============================] - 353s 24ms/step - loss: 0.7705 - accuracy: 0.8377 - val_loss: 0.7704 - val_accuracy: 0.8392
Epoch 6/10
14471/14471 [==============================] - 354s 24ms/step - loss: 0.7707 - accuracy: 0.8373 - val_loss: 0.7714 - val_accuracy: 0.8338
Epoch 7/10
14471/14471 [==============================] - 365s 25ms/step - loss: 0.7707 - accuracy: 0.8366 - val_loss: 0.7723 - val_accuracy: 0.8309
Epoch 8/10
14471/14471 [==============================] - 381s 26ms/step - loss: 0.7708 - accuracy: 0.8370 - val_loss: 0.7725 - val_accuracy: 0.8397
Epoch 9/10
14471/14471 [==============================] - 376s 26ms/step - loss: 0.7709 - accuracy: 0.8369 - val_loss: 0.7720 - val_accuracy: 0.8330
Epoch 10/10
14471/14471 [==============================] - 357s 25ms/step - loss: 0.7711 - accuracy: 0.8365 - val_loss: 0.7720 - val_accuracy: 0.8360

In [ ]:
model.evaluate (x_train, y_train)
score=model.evaluate(x_test,y_test,verbose=0)
print('sai so kiem tra la:',score[0])
print('do chinh xac kiem tra la:',score[1])

231525/231525 [==============================] - 590s 3ms/step - loss: 0.7717 - accuracy: 0.8360
sai so kiem tra la: 0.7720360159873962
do chinh xac kiem tra la: 0.8360263705253601

In [ ]:
model.save('robot3.h5')

In [ ]:
from tensorflow.keras.models import load_model
model1=load_model('robot3.h5')

In [ ]:
y_test[4000:4002]

              tt1       tt2       tt3
2820759 -0.471239  1.954769 -0.890118
5636521  0.645772  1.396263  0.541052

In [ ]:
result=model.predict(x_test[4000:4002])
result

array([[0.3346746 , 0.3303907 , 0.33493477],
       [0.34558633, 0.3223746 , 0.33203903]], dtype=float32)

In [ ]:
x_test[4000:4002]

               Px        Py       phi
2820759  0.306151  0.226885 -0.090477
5636521 -0.346597  0.986825  0.995249